.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.centering {
  display: flex;
  justify-content: center;
  /* color: aliceblue; */
}

.input-field {
  margin-right: 2em;
}

.container {
  /* background-color: black; */
  padding: 1em 2em 1em 2em;
}

.button-submit {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  /* margin-bottom: 1em; */
}
.navbar {
  display: flex;
  justify-content: center;
  font-size: large;
  background-color: #f4883d;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
